@import url('http://fonts.cdnfonts.com/css/poppins');
$color: #ffffff;
$color-gray:#ffffff2f;
$gray:#727272;
$light-gray:#55555546;
$background:#151c22;
$primary:#00a2b8;
$dark-primary:#007a8a;
$secondary:#23b89f;
$background-Two:#1f1f1f;
$gray-two:#8d8d8d;
$light-primary:#00a3b821;
$light-secondary:#23b89f1f;